html,
body {
    height: 100%;
    background-size: cover;
    backdrop-filter: blur(10px);
    overflow: hidden;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../img/2.gif');
}
form {
    display: flex;
    flex-direction: column;
    max-width: 650px;
    margin: 0 auto;
    justify-content:center;
    height: 100%;
}

#ErrorMsg {
    font-size: 10px;
    color: red;
}

h1{
    font:40px;
}